@import "../lib/vditor/dist/index.css";
@import "bootstrap-utilities.min.css";
@import "../lib/layui/css/layui.css";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.layui-container-fluid {
    width: 100%;
    height: 90%;
}

#btn-save {
    float: right;
}

form {
    padding: 10px;
    height: calc(100vh - 80px);
}

#vditor {
    width: 100%;
    height: calc(100vh - 140px);
}